@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');




html {
    margin: 0;
    padding: 0;
}

* {
font-family: 'Readex Pro', sans-serif;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(
    92.23deg,
    #fe3c72 21.43%,
    #fd5564 50.63%,
    #fe3c72 100%,
    #ef4a75 117.04%
  );
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(
        92.23deg,
        #fe3c72 21.43%,
        #fd5564 50.63%,
        #fe3c72 100%,
        #ef4a75 117.04%
      );
  }

  body {
    text-align: center;
  }

  /* ---navbar---- */
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  nav .logo-container {
    width: 170px;
    margin: 15px;

  }

  nav .logo-container .logo {
    width: 100%;
  }

    /* ---Home page---- */

    overlay {
      width: 100vw;
      height: 100vh;
      position: fixed;
      background: linear-gradient();
    }